langchain
langchain-openai
langchain-huggingface
transformers
huggingface_hub
sentence-transformers

python-dotenv

numpy
scikit-learn
torch
torchvision
torchaudio
streamlit
beautifulsoup4
requests
langchain-text-splitters
chromadb
tiktoken

youtube-transcript-api
faiss-cpu


 